rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 모든 문서에 대해 인증된 사용자만 읽고 쓸 수 있도록 허용
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
